<% content_for :content do %>
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#popular" data-toggle="tab"><i class="fa fa-star"></i> Login</a>
            </li>
            <li>
              <a href="#recent" data-toggle="tab"> Sign up</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="popular" class="tab-pane active">
              <% if !charity_signed_in? %>

                <h2>Log in</h2>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <%= f.label :email %><br/>
                  <div class="input-group input-group-icon">
                    <span class="input-group-addon">
                      <span class="icon"><i class="fa fa-envelope"></i></span>
                    </span>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                  </div>

                  <%= f.label :password %><br/>
                  <div class="input-group input-group-icon">
                    <span class="input-group-addon">
                      <span class="icon"><i class="fa fa-key"></i></span>
                    </span>
                    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control'%>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  <div class="actions">
                    <%= f.submit "Log in", class: 'btn btn-success' %>
                  </div>
                <% end %>

                <%= render "charities/shared/links" %>
              <% end %>

            </div>
            <div id="recent" class="tab-pane">

              <% if !charity_signed_in? %>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-9 control-label">
                      <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-user"></i>
														</span>
                        <%= f.text_field :name, autocomplete: "name", class: 'form-control' %>
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-9 control-label">
                      <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-envelope"></i>
														</span>
                        <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label">Phone</label>
                    <div class="col-md-9 control-label">
                      <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-phone"></i>
														</span>
                        <%= f.text_field :phone_number, id: 'phone', class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label">Description</label>
                    <div class="col-md-9 control-label">
                      <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-list"></i>
														</span>
                        <%= f.text_area :description, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label">City</label>
                    <div class="col-md-9 control-label">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-street-view"></i>
                        </span>
                        <select class="form-control" id="select_gov"></select>
                        <select class="form-control" id="city_id" name='charity[city_id]' style="display: none;"></select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label">Address</label>
                    <div class="col-md-9 control-label">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-map-marker"></i>
                        </span>
                        <%= f.text_area :address, id: 'address', class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-9 control-label">
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br/>
                      <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-key"></i>
														</span>
                        <%= f.password_field :password, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label">Password Confirmation</label>
                    <div class="col-md-9 control-label">
                      <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-key"></i>
														</span>
                        <%= f.password_field :password_confirmation, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="actions">
                    <%= f.submit "Sign up", class: 'btn btn-success' %>
                  </div>

                  <%= render 'cases/governorates_and_cities_db' %>
                  <script>
					  // to make the first gov is empty, to force the user to chose a gov
					  // so that the event is triggered
					  let emptyGov = document.createElement('option');
					  emptyGov.value = -1;
					  emptyGov.text = 'Select Gov';
					  document.getElementById('select_gov').appendChild(emptyGov);

					  govs.forEach(gov => {
						  let op = document.createElement('option');
						  op.value = gov.id;
						  op.text = gov.name;
						  document.getElementById('select_gov').appendChild(op);
					  });

					  document.getElementById('select_gov').addEventListener('change', function () {

						  let selectCityElement = document.getElementById('city_id');
						  selectCityElement.style.display = 'inline';

						  selectCityElement.innerHTML = '';
						  let selectedGovId = parseInt(this.value);
						  let govCities = cities.filter(city => city.governorate_id === selectedGovId);
						  govCities.forEach(gov => {
							  let singleCity = document.createElement('option');
							  singleCity.value = gov.id;
							  singleCity.text = gov.name;
							  selectCityElement.appendChild(singleCity);
						  });
					  });
                  </script>

                  <%# end form_for %>
                <% end %>

                <%= render "charities/shared/links" %>
                <%# end if !charity_signed_in? %>
              <% end %>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
