<%= form_with(model: @case, local: true) do |form| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
        <% @case.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= label_tag :name %>
  <%= form.text_area :name %>

  <%= label_tag :email %>
  <%= form.text_area :email  %>

  <%= label_tag :job %>
  <%= form.text_area :job %>

  <%= label_tag :description %>
  <%= form.text_area :description %>

  <%= label_tag :phone %>
  <%= form.text_area :phone %>

  <%= label_tag :children_number %>
  <%= form.select :children_num, [0,1,2,3,4,5,6,7,8]%>

   <%= label_tag :Marital_status %>
  <%= form.select :marital_status, ["Married","Divorced","Single"]%>


  <%if charity_signed_in?%>
      
      <%= label_tag :priority %>
      <%= form.select :priority, [1,2,3,4,5]%>

      <%= label_tag :amount_needed %>
      <%= form.text_area :amount_needed %>
  <% end %>


   <%= label_tag :national_id %>
  <%= form.text_area :national_id %>

   <%= form.label :avatar do %>
        <%= form.file_field :NID_img %>
        <%= form.hidden_field :NID_img_cache %>
    <% end %>

  <div class="actions">


    <%= form.submit %>
  </div>
<% end %>
