<%if charity_signed_in? %>
        <div class="container">

					<div class="row">
						<div class="col-md-3">
							<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

								<h4 class="heading-primary"></h4>
								<ul class="nav nav-list mb-xl show-bg-active">
									<li ><a data-hash data-hash-offset="85" href=<%=profile_path%>>Profile</a></li>
									<li>
										<a data-hash data-hash-offset="85" href="">Cases</a>
										<ul>
											<li><a data-hash data-hash-offset="85" href=<%=my_cases_path%>>My Cases</a></li>
											<li class="active"><a data-hash data-hash-offset="85" href=<%=free_cases_path%>>Free Cases</a></li>
										</ul>
									</li>
									<li><a data-hash data-hash-offset="85" href="#third">Donation Requests</a></li>
								</ul>

							</aside>
						</div>
						<div class="col-md-9">

 <p id="notice"><%= notice %></p>

<h1>Unverified Cases</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @cases.each do |c| %>
        <% if c.charities_cases.empty? %>
            <tr>
                <td> <%= c.name %></td>
                <td><%= link_to 'Show', c ,:class => "btn btn-quaternary mr-xs mb-sm"%></td>
                         <td><%= button_to 'Protect Case', protect_case_path , method: :post , params: {id: c.id},:class => "btn btn-success mr-xs mb-sm"  %></td>
            </tr>
        <%end%>
    <% end %>
  </tbody>
</table> 

<div class="row">
<%= paginate @cases %>
</div>
							
						</div>

					</div>

				</div>


    <br>
    <div style="text-align: center;">
	    <%= link_to 'Home', cases_path , :class => "btn" %> |
        <%= link_to 'New Case', new_case_path, :class => "btn" %>

     </div>
        <% else %>
        <div class="container">

				<div class="row">
				<div class="alert alert-danger">
				<strong>Oh!</strong> You are not authorized to view this page.<%= link_to "Sign in as charity", new_charity_session_path, :class => "alert-link" %> to view this.
				</div>
				</div>
				</div>
        

<% end %>

