<%
def percentage(needed, obtained)
	if(needed > obtained)
	result = (obtained.to_f / needed) * 100
	
	return result.to_s + "%"
	else
	return 100.to_s + "%"
	end
end
%>

<div class="container">
  <div class="row">

    <%if charity_signed_in? %>
    <p id="notice"><%= notice %></p>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <div style="text-align: center;"> 
      <h3>Unverified Cases </h3> 
      </div>

      	<table class="table table-hover">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													Case Name
												</th>
												<th>
													Protect Case
												</th>
												<th>
													Show Case
												</th>
                        <th>
													Edit Case
												</th>
                        <th>
													Delete Case
												</th>
											</tr>
										</thead>
                    <%count = 1%>

                <% @cases.each do |c| %>
                 <% if c.charities_cases.empty? %>
            
								
										<tbody>
											<tr>
												<td>
													<%= count %>
												</td>
												<td>
													<%=c.name%>
												</td>
                        <td>
													<%= button_to 'Protect Case', protect_case_path , method: :post , params: {id: c.id} ,:class => "btn btn-success" %>
												</td>
												<td>
													<%= link_to 'Show', c ,:class => "btn btn-dark"%>
												</td>
                        	<td>
													<%= link_to 'Edit', edit_case_path(c) ,:class => "btn btn-dark" %>
												</td>
												<td>
													<%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger"  %>
												</td>
											</tr>
                      <% count+=1 %>
										
									
       
                <%end%>
            <% end %>
        	</tbody>
				</table>
      </tbody>
    </table>

    <br>
    <div style="text-align: center;">
	    <%= link_to 'Home', cases_path , :class => "btn" %> |
        <%= link_to 'New Case', new_case_path, :class => "btn" %>

     </div>
        <% else %>
        <div> You're not authorized to view this page </div>
        <% end %>

  </div>
</div>
