<p id="notice"><%= notice %></p>

<section class="call-to-action call-to-action-quaternary mb-xl">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-to-action-content">
									<h3>We know it is a hard time, but everything is going to be all right.</h3>
									<p>But until it does<strong> we have your back</strong></p>
								</div>
								<div class="call-to-action-btn">
									<%= link_to "Add Case", new_case_path, :class =>"btn btn-lg btn-success"%><span class="arrow-dark hlb hidden-xs hidden-sm hidden-md appear-animation animated rotateInUpLeft appear-animation-visible" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
								</div>
							</div>
						</div>
					</div>
				</section>

<div class="container">
<div class="row">
<div class="col-md-6">

<h1>All Cases</h1>

</div>
  <div class="col-md-6" style="text-align: end;">

    <%= form_with(url: "filtered/:q", method: "get", local: true) do %>
      <%= label_tag(:q, "Filter by address:") %>
      <select class="form-control custom-select" id="select_gov"></select>
      <select class="form-control custom-select" id="city_id" name='city_id' style="display: none;"></select>
      <%= javascript_include_tag 'cities_db', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'select_city_logic' %>
      <%= submit_tag("Filter", :class => "btn btn-quaternary mr-xs") %>
    <% end %>
  </div>

</div>
</div>

<%
def cutter (x)
     i=0
    counter=x.split.count
    $a=[]
    while i < counter  do
        $y=x.split(' ')[i][0].capitalize
        i +=1
        $a.push($y)
     end
     $a.join(".")
end
%>




<div class="container">
  <div class='row'>
<%= render :partial => "home/case", :collection => @cases, :as => :c %>
  </div>



</div>
<div class="row">
<%= paginate @cases %>
</div>
<br>


</div>
</div>
