<p id="notice"><%= notice %></p>

<h1>Cases</h1>


<%= form_with(url: "/search/:q" , method: "get" , local: true )  do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_with(url: "filtered/:q" , method: "get" , local: true )  do %>
  <%= label_tag(:q, "Filter by address:") %>
    <select name='city_id' id="addresses" >
        <% @cities.each do |city| %>
          <option value=<%=city.id%>><%= city.name_en %></option>
        <% end %>
    </select>
 <%= submit_tag("Filter") %>
<% end %>

<%
def cutter (x)
     i=0
    counter=x.split.count
    $a=[]
    while i < counter  do
        $y=x.split(' ')[i][0].capitalize
        i +=1
        $a.push($y)
     end
     $a.join(".")
end
%>

<div id="search">
<label>search by address</label>
<select name="addresses" id="addresses" form="carform">
    <% @governorates.each do |governorate| %>

      <option value=<%=governorate.id%>><%= governorate.name_en %></option>
    <% end %>
</select>

<div>



<div class="container">
  <div class='row'>
<%= render :partial => "home/case", :collection => @cases, :as => :c %>
  </div>



</div>
<div class="row">
<%= paginate @cases %>
</div>
<br>



<%= link_to 'New Case', new_case_path %>


<%if charity_signed_in? %>
<%= link_to 'Unprotected Cases', free_cases_path %>
<% end %>


</div>
</div>
