<%if current_charity%>

<p id="notice"><%= notice %></p>

<h1>Profile Info </h1>

<table>
  <tr>
    <th> Name </th>
    <th>Description</th>
    <th>Phone number </th>
    <th>Address</th>
    <th>Email</th>
    <th>Edit Profile</th>
  </tr>

  <tr>
    <td><%=  current_charity.name ? current_charity.name : "Undefined"  %></td>
    <td><%=  current_charity.description ? current_charity.description : "Undefined"  %></td>
    <td><%=  current_charity.phone_number ? current_charity.phone_number : "Undefined"  %></td>
     <td><%=  current_charity.address ? current_charity.address : "Undefined"  %></td>
    <td><%=  current_charity.email ? current_charity.email : "Undefined"  %></td>
    <td><%= link_to 'Edit Profile', edit_charity_registration_path %></td>
  </tr>

</table>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <h3> Cases that are protected by The Charity </h3>
     <tr>
    <% current_charity.charities_cases.where(state: "protected").each do |c| %>
        <td> <%= @cases.find(c.case_id).name %></td>
        <td> <%= link_to 'Dump Case', @cases.find(c.case_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
    </tr>

  </tbody>
</table>

<br>

<%elsif current_donor%>

<p id="notice"><%= notice %></p>

<h1>Profile Info </h1>

<table>
  <tr>
    <th> Name </th>
    <th>National Id</th>
    <th>Address</th>
    <th>Email</th>
    <th>Edit Profile</th>
  </tr>

  <tr>
    <td><%=  current_donor.name ? current_donor.name : "Undefined"  %></td>
    <td><%=  current_donor.national_id ? current_donor.national_id : "Undefined"  %></td>
     <td><%=  current_donor.address ? current_donor.address : "Undefined"  %></td>
    <td><%=  current_donor.email ? current_donor.email : "Undefined"  %></td>
    <td><%= link_to 'Edit Profile', edit_donor_registration_path %></td>
  </tr>

</table>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <h3> Cases that are protected by The Donor </h3>
     <tr>
    <% current_donor.donors_cases.where(state: "approved").each do |c| %>
        <td> <%= @cases.find(c.case_id).name %></td>
        <td> <%= link_to 'Dump Case', @cases.find(c.case_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
    </tr>

  </tbody>
</table>

<br>

<%else%>

<h1> You are not authorized to view this page </h1>

<%end%>

<%= link_to 'New Case', new_case_path %>
<%= link_to 'Show Profile', profile_path %> |