<p id="notice"><%= notice %></p>

<%= @case.name
%>

<% if !current_donor.donors_cases.where(:case_id => @case.id).any?  %>
    <%= link_to 'Request Case Provision', provide(:case_id => @case.id), {method: :post, style: 'cursor:pointer'} %>

<% else %>
    <p> Case Requested </p>

 <% end %>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
