<p id="notice"><%= notice %></p>

<%= @case.name%>
<%= @case.id%>


<%
=begin%>
 <%= button_to 'Donate to case' , checkout_create_path , method: :post , params: {id: @case.id} ,remote: true %> 
<%
=end%>

<% if @case.amount_needed >= @case.amount_obtained%>

    <table>
    <tr>
        <th>  Needed </th>
        <th> Received</th>
        <th> Remaining</th>  
    </tr>

    <tr>
        <td><%=  @case.amount_needed  %></td>
        <td><%=  @case.amount_obtained   %></td>
        <td><%=  @case.amount_needed - @case.amount_obtained   %></td>
    </tr>
    </table>

    <%= form_with(url: checkout_create_path, method: "post" , remote: true ) do %>
    <%= hidden_field_tag(:id, @case.id) %>
    <%= label_tag(:amount, "Amount") %>
    <%= text_field_tag(:amount) %>
    <%= submit_tag("Donate To Case") %>
    <% end %>

<% end %>





<%if donor_signed_in?%>
    <% if !current_donor.donors_cases.where(:case_id => @case.id).any? ||
      current_donor.donors_cases.where(:case_id => @case.id).last.state == "cancelled"  %>

         <%= button_to 'Request Case Protection', donor_protect_path , method: :post , params: {id: @case.id}  %>
    <% else %>
        <p> Case Requested  </p>
        <%= button_to 'Remove Case Protection', donor_cancel_path , method: :post , params: {id: @case.id}  %>
    <% end %>
<% end %>

<%if charity_signed_in?%>
<% if !current_charity.cases.empty? %>
    <% if !current_charity.cases.where(id: @case.id).last.donors_cases.empty? %>
        <% if !current_charity.cases.where(id: @case.id).last.donors_cases.where(state: "pending").last.donor.nil? %>
            
            <div> Donor Requested_id : </div>
            <%= current_charity.cases.where(id: @case.id).last.donors_cases.where(state: "pending").last.donor_id %>

                <div> Donor Request State : </div>
            <%= current_charity.cases.where(id: @case.id).last.donors_cases.last.state %>


            
            <%= form_for @case, :url => "updatestate/"+@case.id.to_s , :html => {:method => :put} do |f| %>

            <%= f.fields_for :donors_cases do |d| %>

                <%= d.select :state, ["approved","rejected"]%>
                <%= d.submit "Submit" %>
                <% end %>
            <% end %>
        <% end %>
   <% end %>
<% end %>


<% end %>


 <%if charity_signed_in?%>
    <%if !current_charity.charities_cases.where(case_id: @case.id).last.nil? %>
        <%= link_to 'Edit', edit_case_path(@case) %> |
    <% end %>
<% end %>

<%= link_to 'Back', cases_path %>
