<!DOCTYPE html>
<html>
  <head>
    <title>Takafol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application' %>
  </head>

  <body>
     <% if donor_signed_in? %>
           <p class="navbar-text float-right">
          <h2>Donor</h2>
          <% if donor_signed_in? %>
            Logged in as <strong><%= current_donor.email %></strong>.
            <%= link_to 'Edit profile', edit_donor_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_donor_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_donor_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_donor_session_path, :class => 'navbar-link'  %>
          <% end %>
          </p>

      <% elsif charity_signed_in? %>
         <p class="navbar-text float-right">
          <h2>Charity</h2>
          <% if charity_signed_in? %>
            Logged in as <strong><%= current_charity.email %></strong>.
            <%= link_to 'Edit profile', edit_charity_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_charity_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_charity_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_charity_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>


      <% else !donor_signed_in? && !charity_signed_in? %>

          <p class="navbar-text float-right">
          <h2>Donor</h2>
          <% if donor_signed_in? %>
            Logged in as <strong><%= current_donor.email %></strong>.
            <%= link_to 'Edit profile', edit_donor_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_donor_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_donor_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_donor_session_path, :class => 'navbar-link'  %>
          <% end %>
          </p>

        <p class="navbar-text float-right">
          <h2>Charity</h2>
          <% if charity_signed_in? %>
            Logged in as <strong><%= current_charity.email %></strong>.
            <%= link_to 'Edit profile', edit_charity_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_charity_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_charity_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_charity_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>

    


     <% end %>


    <%= yield %>
  </body>
</html>
