<!DOCTYPE html>
<html>
<head>
  <title>Takafol -
    <%= yield(:Title) %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

  <!--  custom style for this page (assets/stylesheets/home)-->
  <%= stylesheet_link_tag 'home', media: 'all' %>

  <%= yield(:headers) %>

  <script src="https://js.stripe.com/v3/"></script>

</head>

<body>
<div class="body">
  <%= render 'common-partials/header' %>
  <div role="main" class="main">
    <%= yield(:content) %>
    <!--  custom JS for this page (assets/javascript/porto_wrapper)-->
    <%= javascript_include_tag "porto_wrapper" %>
    <!--
    for the content
    please follow the structure of the page like: home/index
    div.container>div.row
    -->


  </div>

  <%= yield %>
  <%= render 'common-partials/footer' %>
</div>
    <script src="https://js.stripe.com/v3/"></script>

</body>
</html>
